.breadC {
    background: #f3f6f9;
}

.breadC .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0;
    list-style: none;
    /* background-color: #f5f5f5; */
    /* border-radius: 4px; */
    padding: 12px 0 15px 0;
}

.list-sec {
    padding: 60px 0;
}

.list-sec .col-lg-3 {
    padding-left: 0;
}

.list-sec select.form-control {
    height: 48px;
}

.list-sec .sorting {
    display: flex;
    column-gap: 30px;
    align-items: baseline;
    justify-content: flex-end;
    padding: 0;
    padding-top: 60px;
}

.list-sec .sorting .nav-tabs {
    border: 0;
    display: flex;
    column-gap: 15px;
}

.list-sec .sorting .nav-tabs li a {
    border: 1px solid #eaeaea;
    border-radius: 5%;
    padding: 5px 10px;
    color: #000;
}

.list-sec .sorting .nav-tabs>li.active>a,
.list-sec .sorting .nav-tabs>li.active>a:focus,
.list-sec .sorting .nav-tabs>li.active>a:hover {
    color: coral!important;
}

.list-sec .sorting .view {
    display: flex;
    align-items: center;
    /* column-gap: 10px; */
}

.list-sec .sorting .sort {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.list-sec .sorting .sort select {
    width: 240px;
}

.list-sec .pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span,
.pagination>li>a,
.pagination>li>span {
    border: 0;
    color: #000;
    transform: scale(1);
    font-size: 18px;
}

.list-sec .pagination>li:hover:first-child>a,
.pagination>li:hover:first-child>span,
.pagination>li:hover:last-child>a,
.pagination>li:hover:last-child>span {
    transform: scale(0.9);
}

.list-sec .pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    /* color: #23527c; */
    background-color: transparent;
    border-color: #ddd;
    font-size: 20px;
    transform: scale(1.7);
    margin-top: -5px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    /* color: #23527c; */
    /* background-color: #eee; */
    /* border-color: #ddd; */
    font-size: 20px;
    transform: scale(1.7);
    margin-top: -5px;
}


/* My style of isotope */

.isotope .isotope-item {
    padding-bottom: 20px;
}

.list-sec .tab-content {
    padding-top: 125px;
}

.list-sec div#messages .boxes {
    display: flex;
    column-gap: 30px;
    row-gap: 28px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
}

.list-sec div#messages .element-item {
    padding: 10px;
    padding-bottom: 0;
    background-color: aliceblue;
    overflow: hidden;
    transition: all 0.5s;
    position: relative;
    width: calc(100% / 3 - 20px);
}

@media (min-width: 768px) and (max-width:991px) {
    .list-sec div#messages .element-item {
        width: calc(100% / 2 - 20px);
    }
}

@media (max-width: 768px) {
    .list-sec div#messages .element-item {
        width: 100%;
    }
}

.list-sec div#messages .element-item:hover {
    background: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.008);
    transition: all 0.5s;
}

.list-sec div#messages .element-item .img {
    position: relative;
    cursor: pointer;
}

.list-sec div#messages .element-item .img>img {
    width: 100%;
    height: 260px;
}

.list-sec div#messages .element-item .img:hover .overlay {
    display: block;
    /* transition: display 0.5s ease; */
}

.list-sec div#messages .element-item .img .overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    transition: display 0.5s ease;
}

.list-sec div#messages .element-item .img .overlay>img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.list-sec div#messages .element-item .prime {
    position: absolute;
    color: #fff;
    background: #ff7043;
    padding: 5px 40px;
    transform: rotate(-45deg) translateX(-32px) translateY(-25px);
    z-index: 1;
}

.list-sec div#messages .element-item .content {
    padding: 25px 10px;
}

.list-sec div#messages .element-item .content .head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.list-sec div#messages .element-item .content .head h6 {
    font-weight: bold;
}

.list-sec div#messages .element-item .content .head span {
    font-size: 20px;
    font-weight: bold;
    font-family: lora;
    color: #ff7043;
}

.list-sec div#messages .element-item .content .middle {
    display: flex;
    column-gap: 10px;
    position: relative;
    align-items: baseline;
}

.list-sec div#messages .element-item .content .middle span:first-child {
    color: #79797a;
    font-size: 17px;
}

.list-sec div#messages .element-item .content .middle span:last-child {
    position: absolute;
    right: 0px;
    top: -5px;
    color: #79797a;
}

.list-sec div#messages .element-item .content .footer {
    position: relative;
    /* padding: 10px 0px; */
}

.list-sec div#messages .element-item .content .footer img {
    position: absolute;
    top: -12px;
    right: 1px;
}


/* For profile tap pane */

.list-sec div#profile .row {
    display: flex;
    flex-wrap: wrap;
}

.list-sec div#profile .boxes {
    display: flex;
    column-gap: 30px;
    row-gap: 28px;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 30px 0; */
    flex-direction: column;
}

.list-sec div#profile .grid.col-lg-9 {
    width: 76%;
    margin-right: 25px;
    padding: 0;
}

.list-sec div#profile .element-item {
    padding: 10px;
    padding-right: 0;
    background-color: aliceblue;
    overflow: hidden;
    transition: all 0.5s;
    position: relative;
    width: 100%;
    display: flex;
}

.list-sec div#profile .element-item:hover {
    background: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.008);
    transition: all 0.5s;
}

.list-sec div#profile .element-item .img {
    position: relative;
    cursor: pointer;
}

.list-sec div#profile .element-item .img>img {
    width: 360px;
    height: 230px;
}

.list-sec div#profile .element-item .img:hover .overlay {
    display: block;
    /* transition: display 0.5s ease; */
}

.list-sec div#profile .element-item .img .overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    transition: display 0.5s ease;
}

.list-sec div#profile .element-item .img .overlay>img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.list-sec div#profile .element-item .prime {
    position: absolute;
    color: #fff;
    background: #ff7043;
    padding: 5px 40px;
    transform: rotate(-45deg) translateX(-32px) translateY(-25px);
    z-index: 1;
}

.list-sec div#profile .element-item .content {
    padding: 10px 30px;
    width: 100%;
}

.list-sec div#profile .element-item .content .head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.list-sec div#profile .element-item .content .head h6 {
    font-weight: bold;
}

.list-sec div#profile .element-item .content .head span {
    font-size: 20px;
    font-weight: bold;
    font-family: lora;
    color: #ff7043;
}

.list-sec div#profile .element-item .content .middle {
    display: flex;
    column-gap: 10px;
    position: relative;
    align-items: baseline;
}

.list-sec div#profile .element-item .content .middle span:first-child {
    color: #79797a;
    font-size: 17px;
}

.list-sec div#profile .element-item .content .middle span:last-child {
    position: absolute;
    right: 0px;
    top: -5px;
    color: #79797a;
}

.list-sec div#profile .element-item .content .footer {
    padding-top: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-sec div#profile .element-item .content .footer img {
    /* position: absolute; */
    top: -12px;
    right: 1px;
}


/* col-lg-3 AD */

.list-sec div#profile .nissan {
    background: #f3f6f9;
    padding: 0 7px 7px 7px;
    text-align: center;
}

.list-sec div#profile .nissan .head {
    display: flex;
    align-items: center;
    padding: 0 13px;
}

.list-sec div#profile .nissan .head .logo {
    padding: 10px;
    text-align: center;
    background: #c71431;
    border-radius: 3px;
    width: 130px;
    color: #fff;
}

.list-sec div#profile .nissan .head .price {
    padding: 10px;
}

.list-sec div#profile .nissan .title h4 {
    padding: 20px 0;
    font-size: 15px;
    font-family: lora;
    font-weight: bold;
    text-align: center;
}

.list-sec div#profile .nissan .img-car {
    text-align: center;
}

.list-sec div#profile .nissan .details h4 {
    font-size: 15px;
    font-weight: bold;
    /* padding: 20px 43px; */
    /* padding: 0 7px; */
    text-align: center;
}

.list-sec div#profile .nissan .contact {
    text-align: center;
}

.list-sec div#profile .nissan .contact .social {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    padding: 10px 0;
}

.list-sec div#profile .jaguar {
    background: #ff7043;
    padding: 10px;
    margin-top: 20px;
}

.list-sec div#profile .jaguar .links {
    display: flex;
    /* justify-content: space-between; */
    column-gap: 15px;
}

.list-sec div#profile .jaguar .links h5 {
    color: #fff;
    font-size: 15px;
}

.list-sec div#profile .jaguar .p h4 {
    font-weight: bold;
    width: 100%;
    text-align: start;
    font-size: 15px;
}

.list-sec div#profile .jaguar .footer-ad p {
    margin: 0;
    text-align: end;
}

@media (min-width: 768px) and (max-width:1200px) {
    .list-sec .col-lg-3 {
        display: flex;
        align-items: flex-start;
    }
}

@media (max-width:767px) {
    .list-sec div#profile .element-item {
        padding-right: 10px;
        flex-direction: column;
    }
    .list-sec div#profile .element-item .img>img {
        width: 100%;
    }
    .list-sec .col-lg-3 {
        display: none;
    }
    .list-sec .sorting {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
}